@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
:root {
  --font-family: "Manrope", "sans-serif";
  --gradient-text: linear-gradient(
    151deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  --gradient-bar: linear-gradient(
    151deg,
    rgba(150, 57, 210, 1) 26%,
    rgba(253, 164, 29, 1) 72%,
    rgba(252, 176, 69, 1) 100%
  );
  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
